name: Auto Document Workflows

on:
  workflow_dispatch:
  
  push:
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
      - "!.github/workflows/generate-doc.yml"

jobs:
  autodoc:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        name: Install Node 22
        with:
          node-version: 22

      - name: Install Copilot CLI
        run: npm install -g @github/copilot

      - name: Get changed YML files
        run: |
          echo "Files changed:"
          git fetch origin ${{ github.event.before }}
          git diff --name-only ${{ github.event.before }} ${{ github.sha }}

